<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="${'/js/jquery.min.js'}" type="text/javascript"></script>
    <!-- layer -->
    <script th:src="@{https://cdn.bootcss.com/layer/2.1/layer.js}"
            type="text/javascript"></script>
</head>
<body>
<!--头部引入-->
<div th:replace="fragments/header"></div>
<!--侧边栏引入-->
<div th:replace="fragments/sidebar"></div>
<!--身体动态引入-->
<div th:if="${template}">
    <div th:replace="${template}"></div>
</div>
<!--脚部引入-->
<div th:replace="fragments/footer"></div>
</body>
</html>