<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="initUser" data-toggle="dropdown" aria-expanded="false">
                        <img name="profileImg" src="" alt="">
                        <!--<span shiro:principal property="userName"/>-->
                        <span name="profileName"></span>
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                        <input type="hidden" id="Name" th:value="${session.user.userName}">
                        <a class="dropdown-item" data-toggle="modal" data-target="#updatePasswordModal" onclick="updatePassword()"  href="#">修改密码</a>
                        <a class="dropdown-item"  href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>设置</span>
                        </a>
                        <a class="dropdown-item"  href="javascript:;">帮助</a>
                        <a class="dropdown-item"  href="/account/logout"><i class="fa fa-sign-out pull-right"></i>退出登陆</a>
                    </div>
                </li>

                <li role="presentation" class="nav-item dropdown open">
                    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">6</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                              <span>John Smith</span>
                              <span class="time">3 mins ago</span>
                            </span>
                                <span class="message">
                              Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="text-center">
                                <a class="dropdown-item">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="/account/passwordUpdate"></div>
<!-- /top navigation -->
<script>
    $(document).ready(function () {
        getProfile($("#profileId").val());
        $("#UpdatePasswordBtn").bind("click",function () {
            savePassword();
        })
    })
    function updatePassword() {
        $("#oldPassword").val("");
        $("#newPassword").val("");
        $("#confirmPassword").val("");
    }
    function returnLogin() {
        window.location.href="/account/logout";
    }
    function savePassword() {
        var userName=$("#Name").val();
        var password=$("#oldPassword").val();
        var params={
            "userName":userName,
            "password":password
        }
        $.ajax({
            url:"/api/password",
            data:JSON.stringify(params),
            type:"post",
            contentType:"application/json",
            success:function (info) {
                if(info.status==200){
                    var userId=$("#profileId").val();
                    var userName=$("#Name").val();
                    var newPassword=$("#newPassword").val();
                    var confirmPassword=$("#confirmPassword").val();
                    var paramList={
                        "userId":userId,
                        "userName":userName,
                        "password":confirmPassword
                    }
                    if(newPassword==confirmPassword){
                        $.ajax({
                            url:"/api/password",
                            type: "put",
                            data:JSON.stringify(paramList),
                            contentType: "application/json",
                            success:function (info) {
                                layer.msg(info.message,{icon:1})
                                returnLogin();
                            }
                        })
                    }else {
                        layer.msg("两次输入密码不一致！",{icon:0})
                    }
                }
                else {
                    layer.msg(info.message,{icon:0});
                }
            }

        })

    }

</script>